
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a href="#" class="navbar-brand">
            <img src="./assets/logo.png" width="50%" height="80%"/>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
           
            <div class="navbar-nav ml-auto ">
                 <a routerLink="/home" class="nav-item nav-link active ss">Home</a>
                 <a href="#" class="nav-item nav-link ss">Blog</a>
                 <a routerLink="/about" class="nav-item nav-link ss">About Us</a> 
                <a href="#" class="nav-item nav-link ss">Contact Us</a>
            </div>
        </div>
    </nav>
</div>