<div>

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/s3.jpg" class="d-block w-100 imgs" alt="...">
            <div class="carousel-caption headertext">
              <p class="headertext2">Hi there.</p>
              <p class="headertext3">I'M A SOFTWARE DEVELOPER.</p>
              <button type="button" class="btn btn-primary btn-rounded ssss">SEE PORTFOLIO</button>

            </div>
          </div>
        </div>
      </div>
</div>